select {
    height: 40px;
}
input {
    height: 34px;
}
button {
    height: 40px;
}
#usbox {
   
        background: rgb(51,51,51);
        width: 35%;
        border-style:groove;
        min-width: 200px;
    
}
