<nav>
    <ul>
        <li>
            <a href="http://henningsenteknikk.no/">
                <img class="img-responsive" src="assets/images/logo.png">
            </a>
        </li>
        <li>
            <a *ngIf="isLoggedIn()" routerLink="/login/" >
                <h1 X id ="logginnKnapp"><Strong >Sign in</Strong></h1>
            </a>
            <a *ngIf="!isLoggedIn()" routerLink="/login/" >
                <h1 X id ="logginnKnapp"><Strong >Sign out</Strong></h1>
            </a>
        </li>
    </ul>
</nav>