<h1> Create User</h1>
<uL>
    
    <uL>
        <li><Strong>Username: </Strong>&nbsp;<input type="text"></li>
        <li><Strong>Type: </Strong>&nbsp;&nbsp;<input type="text"></li>
        <li><Strong>Identifier: </Strong>&nbsp;<input type="text"></li>
        <li><Strong>Group: </Strong>&nbsp;&nbsp;<input type="text"></li>
        <li><Strong>Start date/time: </Strong>&nbsp;<input type="text"></li>
        <li><Strong>Stop date/time</Strong>&nbsp;<input type="text"></li>
        <li><Strong>Weekdays: </Strong>&nbsp;<input type="text"></li>
        <li><Strong>Tickets:  </Strong>&nbsp;&nbsp;<input type="text"></li>
        
    </uL>
    <li><button><Strong>Lagre</Strong></button></li>
</uL>