<h1> Details</h1>
<uL *ngIf="!change">
    <li><Strong>Username: </Strong>&nbsp;{{user.n}}</li>
    <li><Strong>Type: </Strong>&nbsp;&nbsp;{{user.type}}</li>
    <li><Strong>Identifier: </Strong>&nbsp;{{user.id}}</li>
    <li><Strong>Group: </Strong>&nbsp;&nbsp;{{user.g}}</li>
    <li><Strong>Start date/time: </Strong>&nbsp;{{user.s}}</li>
    <li><Strong>Stop date/time</Strong>&nbsp;{{user.e}}</li>
    <li><Strong>Weekdays: </Strong>&nbsp;{{user.w}}</li>
    <li><Strong>Tickets:  </Strong>&nbsp;&nbsp;{{user.t}}</li>
    <li><button (click)="change = true"><Strong>Endre</Strong></button>&nbsp;&nbsp;&nbsp;<button (click)="delete(user.type, user.id, user.n)"><Strong>Slett</Strong></button></li>
</uL>
<uL *ngIf="change">
    <li><Strong>Username: </Strong>&nbsp;<input  name="username" value="{{user.n}}" type="text"></li>
    <li><Strong>Type: </Strong>&nbsp;&nbsp;<input  value="{{user.type}}" type="text"></li>
    <li><Strong>Identifier: </Strong>&nbsp;{{user.id}}</li>
    <li><Strong>Group: </Strong>&nbsp;&nbsp;<input  value="{{user.g}}" type="text"></li>
    <li><Strong>Start date/time: </Strong>&nbsp;<input  value="{{user.s}}" type="text"></li>
    <li><Strong>Stop date/time</Strong>&nbsp;<input  value="{{user.e}}" type="text"></li>
    <li><Strong>Weekdays: </Strong>&nbsp;<input  value="{{user.w}}" type="text"></li>
    <li><Strong>Tickets:  </Strong>&nbsp;&nbsp;<input  value="{{user.t}}" type="text"></li>
    <li><button (click)="change = false"
        ><Strong>Lagre</Strong></button>&nbsp;&nbsp;&nbsp;<button (click)="delete(user.type, user.id, user.n)"><Strong>Slett</Strong></button></li>
</uL><!-- createNewUser(username, type, user.id, groupIn, start, stop, weekdays, tickets)-->