<h1> {{user.n}}</h1>
<uL>
    <li><Strong>Username: </Strong>&nbsp;{{user.n}}</li>
    <li><Strong>Type: </Strong>&nbsp;&nbsp;{{user.type}}</li>
    <li><Strong>Identifier: </Strong>&nbsp;{{user.id}}</li>
    <li><Strong>Group: </Strong>&nbsp;&nbsp;{{user.g}}</li>
    <li><Strong>Start date/time: </Strong>&nbsp;{{user.s}}</li>
    <li><Strong>Stop date/time</Strong>&nbsp;{{user.e}}</li>
    <li><Strong>Weekdays: </Strong>&nbsp;{{user.w}}</li>
    <li><Strong>Tickets:  </Strong>&nbsp;&nbsp;{{user.t}}</li>
    <li><button><Strong>Endre</Strong></button>&nbsp;&nbsp;&nbsp;<button><Strong>Slett</Strong></button></li>
</uL>